  
  .horizontal-line, .vertical-line {
    position: absolute;
    background-color: black;
  }

  .horizontal-line {
    width: 48%;
    height: 1px; 
    top: 50%;
    transform: translateY(-50%);
  }

  .vertical-line {
    width: 1px; 
    height: 60%;
    left: 50%;
    transform: translateX(-50%);
  }

  .div-top{
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .div-bottom{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .div-top-left{
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.div-bottom-left{
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .div-top-right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

.div-bottom-right {
    width: 50%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .exercise-img {
    width: 205px;
    height: 195px;
    background-position: center;
    background-size: cover;
    margin-top: 210px;
    margin-left: 422px;
}

.exercise-word{
    font-size: 38px;
    margin-left: 495px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none; 
  }

  .rest-img {
    width: 205px;
    height: 195px;
    background-position: center;
    background-size: cover;
    margin-top: 210px;
    margin-left: 82px;
}

.rest-word{
    font-size: 38px;
    margin-left: 155px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none; 
  }

  .work-img {
    width: 205px;
    height: 195px;
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    margin-left: 422px;
}

.work-word{
    font-size: 38px;
    margin-left: 495px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none; 
  }

  .other-img {
    width: 205px;
    height: 195px;
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    margin-left: 82px;
}

    .other-word{
    font-size: 38px;
    margin-left: 155px;
    font-family: "Jua", sans-serif;
    font-weight: 400;
    font-style: normal;
    user-select: none; 
  }

  .category-title{
    position:absolute;
    top: 135px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
    user-select: none; 
  }